---
layout: default
title: Innersourcing
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.innersourcing, solution_name: "innersourcing" }
