---
title: DevOps: Powering your Speed to Mission
description: A panel discussion on DevOps in the Public Sector
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 DevOps: Powering your Speed to Mission
        %h2 A panel discussion on DevOps in the Public Sector
        
  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 September 18th, 12pm ET / 4pm UTC
            %p Interested in learning what powerful impact DevOps is having on the Federal government and how DevOps can power your speed to mission? Join us for a webcast on Tuesday, September 18th at Noon Eastern to learn more.
            %p Join Tom Suder, President and Founder of ATARC, Leo Garciga, Chief of JD-OI6 and Chief Technology Officer for the JIDO/DTRA, Rob Brown, Division Chief and Senior Solutions Architect with Infrastructure Enterprise (EID) at USCIS,  and John Jeremiah, Subject Matter Expert at GitLab for an interactive discussion, where we will cover:
            %ul
              %li Cultural challenges faced by the government
              %li Legal, regulatory and policy challenges faced by the government, and how to work within them
              %li Best practices for successfully implementing a DevOps methodology
              %li Tools and techniques which can be used within Federal agencies
              
            %p We will be taking questions at the end of the discussion, so come prepared to ask tough questions to the panelists. 
            
          .content-section
            %h3 About the Panel
            .author-headshot.tom-suder
            .author-info.flex-container
              %p.author-name Tom Suder, ATARC, Founder & President 
            %p.author-description A respected thought leader in the Federal IT community, Tom Suder is the Founder and President of the Advanced Technology Academic Research Center (ATARC), a non-profit organization that provides a collaborative forum for Federal government, academia and industry to resolve emerging technology challenges.
            .author-headshot.leo-garciga
            .author-info.flex-container
              %p.author-name Leo Garciga, Chief of JD-OI6 and Chief Technology Officer
            %p.author-description Leo Garciga serves as the Chief of JD-OI6 and Chief Technology Officer for the Joint Improvised-Threat Defeat Organization (JIDO), Defense Threat Reduction Agency (JIDO/DTRA). In these roles, he provides leadership and oversight of Mission Information Technology services and personnel that directly contribute to the implementation of the JIDO/DTRA mission and its support to the warfighter, Department of Defense (DoD), Combatant Commanders, Coalition partners, the intelligence and interagency organizations.
            .author-headshot.rob-brown
            .author-info.flex-container
              %p.author-name Rob Brown
            %p.author-description Rob Brown is the Chief Architect at the U.S. Citizenship and Immigration Services (USCIS). He is the technical lead for digitizing immigration and eProcessing. Rob has 18 years of experience in technical, managerial and business development solutions for the IT industry. Prior to USCIS, Rob was a Senior DevOps Engineer with Booz Allen Hamilton, responsible for leading the design, development, and implementation of Continuous Integration (CI) processes. He was also a member of the Agile Engineering and Test Automation Services (AETAS) Center of Excellence (COE). Rob holds a MS in Bioinformatics from George Mason University and a BS in Microbio/BioChem from Virginia Tech. He holds certifications from (ISC)², Sourcefire, Fonality, IC Agile and Juniper.
            .author-headshot.john-jeremiah
            .author-info.flex-container
              %p.author-name John Jeremiah
            %p.author-description John is an enterprise DevOps evangelist and product marketing leader at GitLab with over 20 years of IT leadership and software development experience. John helps to guide customers to adapt and thrive in a world of rapid change and digital disruption. He has held a variety of leadership roles with the U.S. Navy, IT consulting and Fortune 500 IT organizations and his experience spans from application developer, project and program manager, and IT Director where he has led the adoption of an Agile and CMMI Maturity Level 3 process framework. He has spoken at numerous conferences and events ranging from Interop to TedX.  After receiving a bachelor’s degree from Oregon State University, Jeremiah earned his MS in Information Technology from The George Washington University School of Business and served nine years as a Naval Officer with the United States Navy.

        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.